
#LoginPage{

	>div{
		width:600px;
		height:400px;
		position:absolute;
		left:50px;
		top:50%;
		margin-top:-230px;
		background-color: #C1C1C1;
		color:black;
		padding:30px;
		text-align:center; 
		input{
			font-size:20px;
			margin-top:-10px;
		}
	}
}