
#MainPage{
	background-color:#C1C1C1;
	display: flex;
	flex-direction:row;
	.list{
		flex-grow:1;
		flex-shrink:1;
		.story{
			color:black;
			background-color:white;
			font-family: Arial;
			border:1px solid darken(#C1C1C1,10%);
			padding:30px;
			padding-left:80px;
			padding-right:80px;
			margin-top:20px;
			margin-left:20px;
			margin-right:20px;
			font-size:12px;
			display: inline-block;
			.place{
				float:left;
				margin-right:20px;
				font-weight:700;
				font-size:24px;
			}
			.time{
				float:left;
				clear:right;
				margin-right:20px;
				font-weight:700;
				font-size:24px;
			}
			.text{
				float:left;
				.reference{
					color:rgb(62, 62, 206);
					text-decoration: none;
					cursor:pointer;
				}
			}
		}
	}
}