
.Timeline{
	width:100%;
	overflow-x: none;
	overflow-y: auto;
	min-height:200px;
	display:inline-block;
	position:relative;

	font-family: 'Raleway', sant-serif;

	table{
		width:100%;
		padding:0px;
		border:0px;
		margin:0px;
		display:table;
	}
	tr{
		display:flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	.line{
		background-color:white;
		width:2px;
		margin-left: 10px;
		margin-right: 10px;
		padding-bottom:10px;
	}

	.item{
		min-width: calc(500px - 42px);
		display:inline-block;
		padding:20px;
		position:relative;
		display: flex;
		//background-color:#cfcfcf;
		color:black;
		flex-direction: column;
		justify-content: center;
		margin:0px;
		opacity:1;


		&.biggy{
			height: calc(498px - 40px);
		}
		transition: opacity 500ms ease-in-out;
		&:hover {
			.images{
				transition: opacity 500ms ease-in-out;
				opacity: 0;
				pointer-events: none;
			}
		}

		.images{
			width:498px;
			height:498px;
			display:flex;
			padding:0px;
			position:absolute;
			left:0px;
			top:0px;


			>div{
				height:100%;
				width:100%;
				background-position: center top;
				background-repeat: no-repeat;
				background-size: cover;
				flex-wrap: wrap;
				>div{
					background-color: rgba(#CFCFCF, 90);
					color:black;
					padding:10px;
					bottom:10px;
					position:absolute;
				}
			}
		}

		&.left{
			text-align:right;
			margin-left:calc(50% - 600px + 42px);
		}

		&.right{
			text-align:left;
			margin-left: calc(0px);
		}

		> div{
			width:calc(100% - 15px);
			padding-left:10px;
			padding-right:10px;
			background-color:#cfefef;
			padding:10px;
		}
		&.date{
			color:white;
			justify-content: center;
			
			> div{
				background-color:#cfcfcf;
				color:black;
				font-weight:700;
				font-size:24px;
				padding:10px;
				width: auto;
			}
		}
	}
	
}