
.Timeline{
	width:100%;
	overflow-x: scroll;
	overflow-y: none;
	min-height:200px;
	display:flex;
	flex-direction:column;
	position:relative;

	font-family: 'Raleway', sant-serif;

	>div{
		width:100%;
		float:left;
		height:100px;
	}
	.bottom{
		vertical-align: top;
		width: calc(100% - 200px);
		.item{
			flex-direction: column;
			margin-top: -30px;
		}
	}
	.top{
		vertical-align: bottom;
		width: calc(100% - 200px);
		top:100px;
		.item{
			flex-direction: column-reverse;
			margin-top: 10px;
		}
	}

	.line{
		background-color:white;
		width:100%;
		height:2px;
		width: calc(100%);
	}
	.item{
		width: 200px;
		position:absolute;
		min-height:120px;
		display: flex;
		text-align:center;
		margin-left:-100px;
		p{
			margin:0px;
			&:first-child{
				margin:5px;
			}
		}
	}
}