html, body{

		width:100%;
		height:100vh;
		padding:0px;
		margin:0px;
}

body{
	font-family: 'Alatsi', sans-serif;
	color:white;
	display: flex;
	background-color: #1c1c1c;
}


.page{
	width:100%;
	min-height:100vh;
	background-color: #1c1c1c;
	flex-grow: 0;
	flex-shrink:1;
	>.itemListContainer{
		position:absolute;
		height:100%;
		left:calc(50% - 150px);
		width:300px;

		.item{
			font-size:30px;
			width:300px;
			text-align:center;
			.description{
				font-size:12px;
				margin-bottom:10px;
				font-weight:400;
			}
			&:hover{
				cursor: pointer;
				color: darken(white,30%);
			}
		}
	}
	>#item{
		   >input{	  
				display: table;
		   }
		.name{
			font-size:30px;
			font-weight:400;
			clear: both;
		}
		.tags{
			font-size:20px;
			clear: both;
		}
		.description{
			font-size:12px;
			min-height:200px;
			width:600px;
			clear: both;
			font-family: Arial;
			display: inline-block;
			//overflow-y:scroll;
		}
		.edit{
			margin-bottom:5px;
			background-color:white;
			color:black;
		}
	}
	
	.referencer{
		flex-basis:300px;
		flex-grow: 0;
		flex-shrink: 0;
		background-color:#2C2C2C;
	}
}