
header{
	width:80px;
	min-height:100vh;
	height:100%;
	float:left;
	background-color:#2B2B2B;
	display:block;
	flex-basis:80px;
	.button{
		width:80px;
		height:25px;
		background-size: 50px 50px;
		background-position: center 5px;
		background-repeat: no-repeat;
		padding-top:55px;
		text-align:center;
		
		&.main{
			background-image: url("/assets/icons/home.svg");
		}
		&.characters{
			background-image: url("/assets/icons/characters.svg");
		}
		&.events{
			background-image: url("/assets/icons/events.svg");
		}
		&.locations{
			background-image: url("/assets/icons/locations.svg");
		}
		&.races{
			background-image: url("/assets/icons/races.svg");
		}
		&.config{
			background-image: url("/assets/icons/config.svg");
		}
		
		transition: background-color 0.5s;
  		//background-blend-mode: saturation;

		&:hover{
			cursor:pointer; 
			background-color:lighten(#2B2B2B, 10%);
			//background-image: url("/assets/icons/races_hover.svg");
		}
	}
}